/* CONSTANTS */
/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.organizer {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

section {
  border: 3px dotted white;
  margin: 20px 0;
}

.container {
  border: 3px dotted white;
  margin: 0 50px;
}

/* HEADER */
header {
  border: 4px solid white;
}

/* MAIN */
main {
  border: 4px solid white;
}

.form .section-title {
  font-size: 30px;
}

.form .tasks-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #52b788;
}

.tasks .section-title {
  font-size: 30px;
}

.tasks .tasks-list {
  margin: 0 auto;
  width: 100%;
  background-color: #52b788;
}

.tasks .tasks-list ul {
  padding: 0;
}

.tasks .tasks-list ul li {
  border: 2px dashed white;
  background-color: #1b4332;
  list-style: none;
}

.tags .tags-list {
  margin: 0 auto;
  width: 100%;
  background-color: #52b788;
}

.tags .tags-list ul {
  padding: 0;
}

.tags .tags-list ul li {
  display: inline-block;
  border: 2px dashed white;
  background-color: #1b4332;
  list-style: none;
}

.tags .tags-list ul li a {
  text-decoration: none;
  color: white;
}

/* FOOTER */
footer {
  border: 4px solid white;
}
