/* CONSTANTS */

$color-one: black;
$color-two: white;

$color-three: #d8f3dc;
$color-four: #b7e4c7;
$color-five: #95d5b2;
$color-six: #74c69d;
$color-seven: #52b788;
$color-eight: #40916c;
$color-nine: #2d6a4f;
$color-ten: #1b4332;

$color-error: #f5cac3;

$font-text: 'Cairo', sans-serif;
$font-header: 'Reggae One', cursive;

$border-one: 0px solid $color-nine;
$border-two: 0px dotted $color-two;
$border-three: 0px dashed $color-two;

$transition-one: all 1s;
$transition-two: all 0.5s;

/* GLOBAL */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
  background-color: $color-one;  
  margin: 0;
  padding: 0;  
  font-family: $font-text;
  font-weight: 400;
  color: $color-two;  
}
.organizer {
  max-width: 768px; //check breakpoint in bootstrap grid
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
  background-color: $color-ten;
}
section {
  border: $border-two;
  margin: 20px 0;
}
.container {
  border: $border-two;
  margin: 0 50px;
}

/* HEADER */
header {
  background-color: $color-ten;
}
.title {
  position: relative;
  margin: 0 auto;
  font-size: 50px;
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 250px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-two;
    transition: $transition-one;
  }
  &:hover {
		&::after {
			background-color: $color-seven;
		}
  }
}

/* MAIN */
main {
  border: $border-one;
}

/* MAIN -> FORM */
.form {
  .section-title {
    font-size: 30px; //think about it later
    border-radius: 5px;
    background-color: $color-nine;
  }
  input, textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    background-color: $color-seven;
    resize: vertical;
    border-radius: 5px;
    font-family: $font-text;
    color: $color-two;
    text-align: center;
    transition: $transition-two;
    &:hover {
      background-color: $color-eight; 
      border: 1px solid $color-five;
    }
    &::placeholder {
      color: $color-two;
      text-align: center;
      opacity: 0.9;
    }
  }
  .task-contents {
    text-align: justify;
    text-justify: inter-word;
  }
  .input-error {
    background-color: $color-error !important;
  }
  div > input {
    display: inline-block;
    //float: left;
    margin: 7px 0 8px;
    width: 49.5%;
    background-color: $color-seven;
    resize: none;  
  }
  div > input:first-of-type {
    float: left;
    margin-right: 1%;
  }
  .btn {
    display: block;
    width: 80px;
    height: 40px;
    margin: 10px auto 20px;
    background-color: $color-seven;
    border-radius: 5px;
    font-size: 30px;
    color: $color-two;
    transition: $transition-two;
    &:hover {
      background-color: $color-eight; 
      border: 1px solid $color-five;
    }
  }
}


/* MAIN -> TASKS */
/* <<< TO DO >>> */
.tasks {
  .section-title {
    font-size: 30px; //think about it later
    border-radius: 5px;
    background-color: $color-nine;
  }
  .tasks-list {
    margin: 0 auto;
    width: 100%;
    background-color: $color-seven;
    ul {
      padding: 5px 15px;
      li {
        margin: 10px 0;
        border: $border-three;
        background-color: $color-four;
        list-style: none;
        color: $color-ten;
        .task-main {
          display: flex;
          .task-main-data {
            display: inline-block;
            flex: 4;
            p {
              display: inline-block;
            }
          }
          .task-accordion {
            display: inline-block;
            flex: 1;
            p {
              display: inline-block;
              margin-right: 10px;
              width: 20px;
            }
          }
        }
        .task-done {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 30px;
            left: 5%;
            height: 3px;
            width: 70%;
            background-color: $color-nine;
          }
        }
        .task-content {
          display: none;     
        }
        .task-content-active {
          display: block;
          padding: 10px 0;
          border-top: 3px solid $color-six;
        }
      } 
    }
  }
}

/* MAIN -> TAGS */
/* <<< TO DO >>> */
.tags {
  .tags-list {
    margin: 0 auto;
    width: 100%;
    background-color: $color-seven;
    ul {
      padding: 0;
      li {
        display: inline-block;
        border: $border-three;    
        background-color: $color-ten;
        list-style: none;
        a {
          margin: 0 3px;
          padding: 0 5px;
          border: 3px solid $color-seven;
          text-decoration: none;
          color: $color-two;
          &:hover {
            border-width: 5px;
          }
        }
      }
    }
  }
}

/* FOOTER */
footer {
  background-color: $color-ten;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.wrapper-left {
  //flex: 1;
  height: 40px;
  text-align: left; 
  .author {
    margin: 0;
    font-size: 20px;
    line-height: 2;
    span {
      font-style: italic;
    }
  }
}

.wrapper-right {
  //flex: 1;
  height: 40px;
  text-align: right;
  ul {
    display: block;
    margin: 0;
    padding: 5px 0;
    line-height: 1.5;
    li {
      display: inline-block;
      margin-left: 10px;
      .fab {
        margin: 0;
        font-size: 30px;
        color: $color-two;
        &:hover {
        color: $color-seven;
        }
      }
    }
  }
}