/* CONSTANTS */

$color-one: black;
$color-two: white;

$color-three: #d8f3dc;
$color-four: #b7e4c7;
$color-five: #95d5b2;
$color-six: #74c69d;
$color-seven: #52b788;
$color-eight: #40916c;
$color-nine: #2d6a4f;
$color-ten: #1b4332;

$font-text: 'Cairo', sans-serif;
$font-header: 'Reggae One', cursive;

$border-one: 4px solid $color-two;
$border-two: 3px dotted $color-two;
$border-three: 2px dashed $color-two;

/* GLOBAL */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
  background-color: $color-one;  
  margin: 0;
  padding: 0;  
  font-family: $font-text;
  font-size: 30px;
  font-weight: 400;
  color: $color-two;  
}
.organizer {
  max-width: 768px; //check breakpoint in bootstrap grid
  margin: 0 auto;
  text-align: center;
}
section {
  border: $border-two;
  margin: 20px 0;
}
.container {
  border: $border-two;
  margin: 0 50px;
}

/* HEADER */

header {
  border: $border-one;
}

/* MAIN */

main {
  border: $border-one;
}
.form {
  .section-title {
    font-size: 30px; //think about it later
  }
  .tasks-input {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #52b788;
  }
}
.tasks {
  .section-title {
    font-size: 30px; //think about it later
  }
  .tasks-list {
    margin: 0 auto;
    width: 100%;
    background-color: #52b788;
    ul {
      padding: 0;
      li {
        border: $border-three;
        background-color: #1b4332;
        list-style: none;
      }
    }
  }
}

.tags {
  .tags-list {
    margin: 0 auto;
    width: 100%;
    background-color: #52b788;
    ul {
      padding: 0;
      li {
        display: inline-block;
        border: $border-three;
        background-color: #1b4332;
        list-style: none;
        a {
          text-decoration: none;
          color: $color-two;
        }
      }
    }
  }
}

/* FOOTER */

footer {
  border: $border-one;
}
